# Node.js dependencies
node_modules

# Compiled files
/build
/out

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE and editor files
.vscode
.idea

# System files
.DS_Store
Thumbs.db

# Environment variables
.env.local
.env.development
.env.production

# Next.js cache
.next

# Cache directories
.cache
.cache-loader

# Coverage directory
coverage

# Editor-specific files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*